development:
    dialect: postgres
    datasource: host=${DB_HOST} port=${DB_PORT} sslmode=${SSL_MODE} dbname=${DB_NAME} user=${DB_USER} password=${DB_PASSWORD}
    dir: migrations/postgres
    table: migrations

test:
    dialect: postgres
    datasource: host=${DB_HOST} port=${DB_PORT} sslmode=${SSL_MODE} dbname=${DB_NAME_TEST} user=${DB_USER} password=${DB_PASSWORD}
    dir: migrations/postgres
    table: migrations